<article class="index">
    <h1>TEAM WORK</h1>

    <div class="content">
        <div>
            <h5>
                Teamwork is an internal social network for employees of an organization.
            </h5>
        </div>

        <div class="overview">
            <h2>API Overview</h2>
            <hr>
            <ul>
                <li>Admin can create an employee user account.</li>
                <li>Admin/Employees can sign in.</li>
                <li>Employees can post gifs.</li>
                <li>Employees can write and post articles.</li>
                <li>Employees can edit their articles.</li>
                <li>Employees can delete their articles.</li>
                <li>Employees can delete their gifs post.</li>
                <li>Employees can comment on other colleagues' article post.</li>
                <li>Employees can comment on other colleagues' gif post.</li>
                <li>Employees can view all articles and gifs, showing the most recently posted articles or gifs first.</li>
                <li>Employees can view a specific article.</li>
                <li>Employees can view a specific gif post.</li>
            </ul>

            <h2>API endpoint documentation</h2>
            <hr/>
            <div class="documentation">
                <div class="endpoint">
                    <h4># Register Users</h4>
                    <div class="code-sample">
                        POST &nbsp; <a href="http://twk.herokuapp.com/api/v1/auth/signup">http://twk.herokuapp.com/api/v1/auth/signup</a>
                    </div>
                    <p> Making a POST request to this endpoint creates an admin/employee account.</p>
                    <i>Make sure to specify if user is an admin/employee in the jobrole key of your JSON body payload</i>
                    <div class="code-sample">
                        <span class="code-comment"># sample request body</span> <br/><br/>
                        { <br/>
                        &nbsp; &nbsp;<span class="obj-key">"firstname"</span> : "Praise",<br/>
                        &nbsp; &nbsp;<span class="obj-key">"lastname"</span> : "Friday",<br/>
                        &nbsp; &nbsp;<span class="obj-key">"email"</span> : "fiday@gmail.com",<br/>
                        &nbsp; &nbsp;<span class="obj-key">"password"</span> : "hisquare",<br/>
                        &nbsp; &nbsp;<span class="obj-key">"gender"</span> : "male",<br/>
                        &nbsp; &nbsp;<span class="obj-key">"jobrole"</span> : "employee",<br/>
                        &nbsp; &nbsp;<span class="obj-key">"department"</span> : "IT",<br/>
                        &nbsp; &nbsp;<span class="obj-key">"address"</span> : "umuahia"<br/>
                         }
                    </div>
                </div>

                <div class="endpoint">
                    <h4># Login Users</h4>
                    <div class="code-sample">
                        POST &nbsp; <a href="http://twk.herokuapp.com/api/v1/auth/signin">http://twk.herokuapp.com/api/v1/auth/signin</a>
                    </div>
                    <p> Making a POST request to this endpoint logs users in.</p>
                    <div class="code-sample">
                        <span class="code-comment"># sample request body</span> <br/><br/>
                        { <br/>
                        &nbsp; &nbsp;<span class="obj-key">"email"</span> : "fiday@gmail.com",<br/>
                        &nbsp; &nbsp;<span class="obj-key">"password"</span> : "hisquare",<br/>
                        }
                    </div>
                </div>

                <div class="endpoint">
                    <h4># List all users</h4>
                    <div class="code-sample">
                        GET &nbsp; <a href="http://twk.herokuapp.com/api/v1/auth">http://twk.herokuapp.com/api/v1/auth</a>
                    </div>
                    <p> Making a GET request to this endpoint lists all registered users.</p>
                    <i>Make sure to add the token generated from login in the <mark>Authorization</mark> header</i>
                </div>
            </div>
            </div>
        </div>
    </div>
</article>