<article class="index">
    <h1>TeamWork</h1>

    <div class="content">
        <h3>
            Teamwork is an internal social network for employees of an organization.
        </h3>

        <div class="overview">
            <h2>API Overview</h2>
            <ul>
                <li>Admin can create an employee user account.</li>
                <li>Admin/Employees can sign in.</li>
                <li>Employees can post gifs.</li>
                <li>Employees can write and post articles.</li>
                <li>Employees can edit their articles.</li>
                <li>Employees can delete their articles.</li>
                <li>Employees can delete their gifs post.</li>
                <li>Employees can comment on other colleagues' article post.</li>
                <li>Employees can comment on other colleagues' gif post.</li>
                <li>Employees can view all articles and gifs, showing the most recently posted articles or gifs first.</li>
                <li>Employees can view a specific article.</li>
                <li>Employees can view a specific gif post.</li>
            </ul>

            <div class="documentation">
                <h2>API endpoint documentation</h2>
                <div class="code-sample">
                    POST &nbsp; <a href="http://twk.herokuapp.com/api/v1/auth/signup">http://twk.herokuapp.com/api/v1/auth/signup</a>
                    <br/><br/>
                    <p>
                        Entry point for gaining token
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>